/node_modules
/public/storage
/public/fitter_logos/*
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.dusk.local
docker-compose.yml
vhost.conf
web.docker

/public/mix-manifest.json
/public/fonts/vendor
/public/css/app.css
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/js/admin
/public/js/client

/storage/app/drawings